<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-5 column jumbotron employee-blocks'>
      adfd
    </div>

    <div class='col-md-5 column jumbotron employee-blocks'>
      asdas
    </div>
  </div>
</div>
